<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Example At Controller Level", "Index", "ExampleAtControllerLevel")</li>
        <li>@Html.ActionLink("Example At Action Level", "Index", "ExampleAtActionLevel")</li>
    </ul>
</div>
<div>
    @RenderBody()
</div>
</body>
</html>