<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Controller With", "Index", "With")</li>
        <li>@Html.ActionLink("Controller Without", "Index", "Without")</li>
    </ul>
</div>
<div>
    @RenderBody()
</div>
</body>
</html>